%p.navbar-text.pull-right
  - if user_signed_in?
    Logged in as
    = succeed "." do
      %strong= current_user.email
    = link_to 'Edit user profile', edit_user_profile_path(current_user)
    |
    = link_to 'My blog', blog_path(id: current_user.id, user_id: current_user.id)
    |
    \#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
  - else
    = link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
    |
    \#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
    
%br
= link_to '3 best posts', bestofthebest_path
%br
%br
%h2 All posts
- @posts.each do |post|
  %h5= post.title
