%h1 Listing blogs

%table
  %thead
    %tr
      %th Title
      %th Picture
      %th User
      %th
      %th
      %th

  %tbody
    - @blogs.each do |blog|
      %tr
        %td= blog.title
        %td= image_tag(blog.thumbnail)
        %td= blog.user_id
        %td= link_to 'Show', user_blog_path(id: blog.id)
        %td= link_to 'Edit', edit_user_blog_path(id: blog.id)
        %td= link_to 'Destroy', user_blog_path(id: blog.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Blog', new_user_blog_path
