%p#notice= notice

%header
  - if @blog.picture.attached?
    = image_tag(@blog.thumbnail, :class => 'rounded float-left')
  %h1= @blog.title
  = link_to 'Edit', edit_blog_path(@blog)
  \|
  = link_to 'Back', root_path
