%p#notice= notice

%p
  %b Title:
  = @blog.title
%p
  %b Picture:
  = image_tag @blog.picture
%p
  %b User:
  = @blog.user_id

= link_to 'Edit', edit_blog_path(@blog)
\|
= link_to 'Back', blogs_path
