%p#notice= notice

%p
  %b User:
  = @user_profile.user.email
%p
  %b Firstname:
  = @user_profile.firstname
%p
  %b Lastname:
  = @user_profile.lastname
%p
  %b Date of birth:
  = @user_profile.date_of_birth
%p
  %b Sex:
  = @user_profile.sex
%p
  %b Avatar:
  = image_tag(@user_profile.thumbnail)

= link_to 'Edit', edit_user_profile_path(@user_profile)
\|
= link_to 'Back', root_path
