= form_for [:blog, @post] do |f|
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |message|
          %li= message

  .field
    = f.hidden_field :blog_id, value: params[:blog_id]
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :status, 'Publish'
    = f.check_box :status
  .field
    = f.hidden_field :views_count
  .field
    = f.hidden_field :published_at
  .actions
    = f.submit 'Save'
